.certifications {
  background-color: #000000;
  color: #ffffff;
}

.certification__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.certification__container-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.certification__container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #281d1d9a;
  border-radius: 8px;
  gap: 30px;
  padding: 40px;
}

.certification__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff1e;
  border-radius: 8px;
}

.certification__item-description {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.certification__item-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
}

.certification__item-img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.certification__item-img img {
  height: 300px;
  width: 400px;
  animation: shake 8s linear infinite;
  box-shadow: 0 5px 8px rgba(251, 250, 250, 0.3);
}

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-0.5px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(0.5px, -0.5px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
}

.certification__item-paragraph {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  max-width: 350px;
  font-weight: 500;
}

.certification__container-paragraph {
  font-size: 1.1rem;
  max-width: 700px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
