@import "./fonts.css";

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: relative;
  height: 100%;
  margin: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.hero__container-image {
  display: flex;
  flex-direction: row;
}
.hero__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.4);
}

.hero__title {
  font-family: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 1.1;
  font-size: 72px;
}

.hero__title-main {
  font-weight: 800;
  font-family: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  background: linear-gradient(
    180deg,
    rgb(216, 216, 216) 0%,
    rgb(46, 46, 46) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hero__description {
  font-family: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  letter-spacing: -0.01em;
}

@media (max-width: 768px) {
  .hero {
    margin: 200px 0;
  }
  .hero__title {
    font-size: 2rem;
    font-weight: 700;
  }
  .hero__image {
    max-width: 300px;
    height: 250px;
  }

  .hero__description {
    font-size: 1rem;
    font-weight: 400;
  }
  .hero__title-description {
    font-size: 2.5rem;
    max-width: 300px;
  }
}
