.swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lenguaje-slider-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #222b35ad, #0e141bab);
  padding: 10px 0;
}

.lenguaje-slider {
  display: flex;
  align-items: center;
  height: 100%;
}

.lenguaje-slide {
  width: 200px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  transition: transform 0.3s ease;
  height: 100%;
}

.lenguaje-slide:hover {
  transform: scale(1.15) !important;
}

.lenguaje-icon {
  font-size: 38px !important;
  cursor: pointer !important;
}

.lenguaje-label {
  font-size: 18px;
  margin-top: 8px;
  color: #fff;
  font-family: "Geist", monospace;
  font-weight: 600;
}

.lenguaje-slider-title {
  font-size: 1.8rem;
  margin: 0 0 5px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .lenguaje-slider-title {
    font-size: 1.2rem;
  }
  .lenguaje-icon {
    font-size: 24px;
  }
  .lenguaje-label {
    font-size: 10px;
  }
  .lenguaje-slide {
    width: 100px !important;
    padding: 0;
  }
  .lenguaje-slider-container {
    height: 100%;
  }
}
