.navbar {
  background-color: #1a1a1a;
  padding: 20px 40px;
  z-index: 1000;
  height: 100px;
  box-shadow: 0 0 120px 0 rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
}

.navbar__container {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  max-width: 100%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__menu-list {
  display: flex;
  list-style: none;
  gap: 20px;
  width: 100%;
}

.navbar__menu-link {
  text-align: center;
  border-radius: 5px;
  padding: 10px 25px;
  box-sizing: content-box;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.navbar__menu-link:hover {
  box-shadow: 0px 0px 10px 4px rgba(57, 57, 57, 0.485);
}

.navbar__menu-button {
  background-color: #fff;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.navbar__menu-button:hover {
  background-color: #e2e2e2;
  box-shadow: 0px 0px 10px 4px rgba(147, 147, 147, 0.485);
  transform: translate(0, -2px);
}

@media (max-width: 768px) {
  .navbar__menu-list {
    gap: 5px;
  }

  .navbar {
    padding: 15px;
  }

  .navbar__menu-link {
    padding: 5px;
  }

  .navbar__title {
    font-size: 14px;
  }
}
