.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  padding: 30px;
  overflow: visible;
}

.projects__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  padding: 25px;
  height: 100%;
}

.projects__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.projects__card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin: 10px 0;
}

.projects__card-icon {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  transition: transform 0.4s ease;
}
.projects__card-icon:hover {
  transform: scale(1.2);
}

.projects__card-image {
  width: 100%;
  height: 352px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.projects__card-description {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin: 20px 0;
}
.project__card-tecnologies {
  transition: transform 0.4s ease;
}
.project__card-tecnology {
  display: flex;
  margin: 10px 0;
  width: 60px;
  justify-content: center;
  gap: 30px;
}

.project__card-tecnologies:hover {
  transform: scale(1.2);
}
.project__card-tecnology-name {
  font-size: 0.8rem;
  text-align: center;
}
