.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  padding: 30px;
  overflow: visible;
}

.projects__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #3c3c3c, #2a2a2aa1, #3c3c3c, #2a2a2aa1);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
  max-height: 720px;
  height: 100%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.projects__card:hover {
  box-shadow: 0px 0px 15px 5px rgba(89, 89, 89, 0.345);
  transition: all 0.4s ease;
}

.projects__subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 700px;
}

.projects__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.projects__card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
  font-family: "Geist", sans-serif;
}

.projects__card-icon {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  transition: transform 0.4s ease;
}
.projects__card-icon:hover {
  transform: scale(1.2);
}

.projects__card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.projects__card-description {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  margin: 20px 0;
  font-family: "Geist", sans-serif;
  text-align: center;
}
.project__card-tecnologies {
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.project__card-tecnology {
  display: flex;
  margin: 10px 0;
  width: 60px;
  justify-content: center;
  gap: 30px;
}
.project__card-tecnologie-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
}

.project__card-tecnologies:hover {
  transform: scale(1.2);
}
.project__card-tecnology-name {
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 760px) {
  .projects {
    margin: 40px 0;
  }

  .projects__cards {
    padding: 20px;
  }

  .projects__card {
    padding: 15px;
  }

  .projects__card-title {
    font-size: 18px;
  }

  .projects__card-icon {
    font-size: 24px;
  }
  .projects__card-description {
    font-size: 16px;
  }

  .projects__card-image {
    height: 200px;
  }
  .projects__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .project__card-tecnology-name {
    font-size: 0.5rem;
  }
}
