@import "./index.css";
@import "./styles/NavBar.css";
@import "./styles/Header.css";
@import "./styles/Hero.css";
@import "./styles/Projects.css";
@import "./styles/About.css";
@import "./styles/LenguajeSlider.css";
@import "./styles/Contact.css";
@import "./styles/Footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}
