:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
section {
  padding: 80px 0;
}
h2 {
  font-family: "Geist", sans-serif, Arial, Helvetica, sans-serif;
}
h1 {
  font-family: "Geist", sans-serif, Arial, Helvetica, sans-serif;
}
h3 {
  font-family: "Geist", sans-serif, Arial, Helvetica, sans-serif;
}
p {
  font-family: "Geist", sans-serif, Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}
